
/* Home CSS */
.body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header{
  height: 150px;
  width: 500px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: solid 2px;
}
.title-on{
  margin-left: 20px;
  font-size: 50px;
}

.title-off{
  margin-left: 20px;
  font-size: 20px;
}

.add-new-todo{
  margin-left: 20px;
}
.todo-items{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.todo-item{
  height: 90px;
  width: 500px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 2px;
}
.todo-item a{
  color: black;
  text-decoration: none;
}

.completed-todo-item{
  height: 90px;
  width: 500px;
  margin: 5px;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 2px;
}
.completed-todo-item a{
  color: white;
  text-decoration: none;
}
.todo-complete-delete{
  width: 120px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.delete-todo {
  margin-left: 10px;
}
.todo-item-title{
  margin-left: 20px;
}


/* Todo CSS */
.todo-body{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.todo-wrap {
  width: 400px;
  height: 400px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.todo-wrap a {
  text-decoration: none;
  color: black;
}

.top{
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title-input{
  height: 20px;
  width: 200px;
}

.description{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.todo-description-input{
  height:20px;
  width: 280px;
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
